* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins";
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #001005;
    --text-color: white;
    --main-color: #32CD32
}

body {
    background: var(--second-bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 64px 12%;
    background: rgba(0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#menu-icon {
    font-size: 50px;
    color: var(--main-color);
    display: none;
}

.logo {
    font-size: 48px;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

span {
    color: var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 64px;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover {
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}

section {
    min: -100vh;
    padding: 200px 12%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    height: 160vh;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.left-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.home-content h1 {
    font-size: 100px;
    font-weight: 700;
    margin-top: 18px;
    line-height: 1;
}

.home-content h3 {
    font-size: 64px;
    margin: 16px 0;
}

.home-content p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
}

.home-img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.btn-group {
    display: flex;
    gap: 18px;
}

.btn {
    display: inline-block;
    padding: 14px 40px;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 48px;
    color: black;
    border: 2px solid transparent;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    margin-bottom: 10px 10px;
}

.btn:hover {
    transform: scale(1.0s);
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
}

.btn-group a:nth-of-type(2):hover {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--second-bg-color);
    height: 100vh;
    margin-top: -70px;
}

.about-content h2 {
    font-size: 112px;
    text-align: left;
}

.about-content p {
    font-size: 20px;
    gap: 10px;
}

.about-content .btm {
    margin: 40px 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

.heading {
    display: flex;
    background-color: var(--second-bg-color);
    text-align: center;
    font-size: 112px;
    margin: 60px 0;
}

.social-icon {
    display: inline-flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    font-size: 48px;
    padding: 16px;
    background: transparent;
    color: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 48px 0.5rem;
    transition: 0.3s ease;
}

.social-icon i:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    padding: 5px;
    border-radius: 50%;
}

.heading {
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}

.education {
    background-color: var(--second-bg-color);
    color: black;
    height: 190vh;
}

.education h2 {
    color: var(--text-color);
}

.education-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minimax (300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.education-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;
    border: 5px solid transparent;
    transition: 0.04s ease-in-out;
}

.education-box:hover {
    background-color: var(--second-bg-color);
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.education-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.education-info h4 {
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}

.education-info p {
    font-size: 3rem;
    font-weight: 600;
    line-height: 2.7;
}

#skill-item {
    height: 120vh;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}

#bot {
    position: relative;
    left: 14px;
}

#ja {
    position: relative;
    left: 16px;
}

#py {
    position: relative;
    left: 10px;
}

.skill-page {
    position: relative;
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.skill-page:hover {
    color: #32cd32
}

.skills {
    position: relative;
    top: -190px;
    left: -200px;
}

.skill {
    position: relative;
    top: 220px;
    text-align: center;
    right: 190px;
    margin: 30px 0;
}

.skill-bar {
    width: 100%;
    max-width: 500px;
    height: 14px;
    background-color: white;
    margin-left: 600px;
    border-radius: 5px;
    margin-top: 5px;
}

.skill-per {
    height: 14px;
    background-color: var(--main-color);
    border-radius: 5px;
    position: relative;
    animation: fillbar 5s 1;
    color: black;
    font-weight: 700;

}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 2px 4px;
    background-color: var(--text-color);
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
    box-shadow: 0 0 5px #32cd32,
        0 0 10px #32cd32, 0 0 15px #32cd32,
        0 0 100px #32cd32, 0 0 200px #12b912;
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #32cd32;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
    box-shadow: 0 0 5px, #32cd32 0 0 10px #32cd32(0, 162, 255), 0 0 15px #32cd32(0, 162, 255),
        0 0 100px #32cd32(0, 162, 255), 0 0 200px #32cd32(0, 162, 255);
}

@keyframes fillbar {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}
#contact-item{
    position: relative;
    right: 120px;
    height: 100vh;
}
.fo{
    position: relative;
    bottom: 90px;
}
.con-title{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 30px;
}
.a{
    position: relative;
    top: 40px;
    left: 380px;
    width: 250px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
}
.b{
    position: relative;
    top: 40px;
    left: 385px;
    width: 250px;
    height: 40px;
    border: 1px solid white;
    border-radius: 5px;
    background: black;
    
}
.c{
    position: relative;
    top: 200px;
    left: -130px;
    width: 509px;
    height: 230px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
}
input::placeholder{
    color: white;
    position: relative;
    left: 20px; 
}
.c::placeholder{
    position: relative;
    bottom: 80px;
}
.a:hover,.b:hover,.c:hover{
    border: 2px solid #32cd32;
    box-shadow: 0 0 10px #32cd32;
}
.contact-btn{
    color: var(--text-color);
    font-weight: 700;
    border: 1px solid ;
    padding: 10px;
    background-color: var(--bg-color);
    width: 100px;
    position: relative;
    left: 380px;
    top: 130px;
    border-radius: 5px;
}
.contact-btn:hover{
    box-shadow: 0 0 10px #32cd32,0 0 20px #32cd32,0 0 50px #32cd32,0 0 10px #32cd32;
    border:none;
}
.ft{
    position: relative;
    top: 180px;
    text-align: center;
    padding: 10px;
    font-size: 17px;
    left: 100px;
    
}
